 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 931px;
}

.u-section-1 .u-list-1 {
  margin-top: 47px;
  margin-bottom: 60px;
  grid-template-rows: auto auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  min-height: 885px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 13px 147px 15px 146px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 13px 147px 15px 146px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 13px 147px 15px 146px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 13px 147px 15px 146px;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 13px 147px 15px 146px;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 13px 147px 15px 146px;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 13px 147px 15px 146px;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 13px 147px 15px 146px;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 13px 147px 15px 146px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 731px;
  }

  .u-section-1 .u-image-1 {
    height: 193px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 114px 14px 113px;
  }

  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-1 .u-image-2 {
    height: 193px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 114px 14px 113px;
  }

  .u-section-1 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-1 .u-image-3 {
    height: 193px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 114px 14px 113px;
  }

  .u-section-1 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-1 .u-image-4 {
    height: 193px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 114px 14px 113px;
  }

  .u-section-1 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-1 .u-image-5 {
    height: 193px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 114px 14px 113px;
  }

  .u-section-1 .u-list-item-6 {
    background-size: auto;
  }

  .u-section-1 .u-image-6 {
    height: 193px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 114px 14px 113px;
  }

  .u-section-1 .u-list-item-7 {
    background-size: auto;
  }

  .u-section-1 .u-image-7 {
    height: 193px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 114px 14px 113px;
  }

  .u-section-1 .u-list-item-8 {
    background-size: auto;
  }

  .u-section-1 .u-image-8 {
    height: 193px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 114px 14px 113px;
  }

  .u-section-1 .u-list-item-9 {
    background-size: auto;
  }

  .u-section-1 .u-image-9 {
    height: 193px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 114px 14px 113px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 1425px;
  }

  .u-section-1 .u-image-1 {
    height: 222px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 139px;
    padding-left: 138px;
  }

  .u-section-1 .u-image-2 {
    height: 222px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 139px;
    padding-left: 138px;
  }

  .u-section-1 .u-image-3 {
    height: 222px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 139px;
    padding-left: 138px;
  }

  .u-section-1 .u-image-4 {
    height: 222px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 139px;
    padding-left: 138px;
  }

  .u-section-1 .u-image-5 {
    height: 222px;
  }

  .u-section-1 .u-btn-5 {
    padding-right: 139px;
    padding-left: 138px;
  }

  .u-section-1 .u-image-6 {
    height: 222px;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 139px;
    padding-left: 138px;
  }

  .u-section-1 .u-image-7 {
    height: 222px;
  }

  .u-section-1 .u-btn-7 {
    padding-right: 139px;
    padding-left: 138px;
  }

  .u-section-1 .u-image-8 {
    height: 222px;
  }

  .u-section-1 .u-btn-8 {
    padding-right: 139px;
    padding-left: 138px;
  }

  .u-section-1 .u-image-9 {
    height: 222px;
  }

  .u-section-1 .u-btn-9 {
    padding-right: 139px;
    padding-left: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 333px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 235px;
    padding-left: 233px;
  }

  .u-section-1 .u-image-2 {
    height: 333px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 235px;
    padding-left: 233px;
  }

  .u-section-1 .u-image-3 {
    height: 333px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 235px;
    padding-left: 233px;
  }

  .u-section-1 .u-image-4 {
    height: 333px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 235px;
    padding-left: 233px;
  }

  .u-section-1 .u-image-5 {
    height: 333px;
  }

  .u-section-1 .u-btn-5 {
    padding-right: 235px;
    padding-left: 233px;
  }

  .u-section-1 .u-image-6 {
    height: 333px;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 235px;
    padding-left: 233px;
  }

  .u-section-1 .u-image-7 {
    height: 333px;
  }

  .u-section-1 .u-btn-7 {
    padding-right: 235px;
    padding-left: 233px;
  }

  .u-section-1 .u-image-8 {
    height: 333px;
  }

  .u-section-1 .u-btn-8 {
    padding-right: 235px;
    padding-left: 233px;
  }

  .u-section-1 .u-image-9 {
    height: 333px;
  }

  .u-section-1 .u-btn-9 {
    padding-right: 235px;
    padding-left: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 210px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 134px;
    padding-left: 133px;
  }

  .u-section-1 .u-image-2 {
    height: 210px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 134px;
    padding-left: 133px;
  }

  .u-section-1 .u-image-3 {
    height: 210px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 134px;
    padding-left: 133px;
  }

  .u-section-1 .u-image-4 {
    height: 210px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 134px;
    padding-left: 133px;
  }

  .u-section-1 .u-image-5 {
    height: 210px;
  }

  .u-section-1 .u-btn-5 {
    padding-right: 134px;
    padding-left: 133px;
  }

  .u-section-1 .u-image-6 {
    height: 210px;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 134px;
    padding-left: 133px;
  }

  .u-section-1 .u-image-7 {
    height: 210px;
  }

  .u-section-1 .u-btn-7 {
    padding-right: 134px;
    padding-left: 133px;
  }

  .u-section-1 .u-image-8 {
    height: 210px;
  }

  .u-section-1 .u-btn-8 {
    padding-right: 134px;
    padding-left: 133px;
  }

  .u-section-1 .u-image-9 {
    height: 210px;
  }

  .u-section-1 .u-btn-9 {
    padding-right: 134px;
    padding-left: 133px;
  }
}